
*, input {
	margin: 0 auto;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	background-color: #222222;
}


.


.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.no_padding {
  padding: 0;
}
.white {
  color: #FAFAFA;
}
.grey {
  color: #666666;
}
.blue {
  color: #64B5F6;
}
.red {
  color: #E57373;
}
.font_700 {
  font-weight: 700;
}
.float_right {
  float: right;
}



.float_right {
  position: absolute;
  top: 3vh;
  right: 4vh;
  z-index: 1;
}

.table_title {
  font-size: 1.5em;
  font-weight: 700;
}








.intro_bg {
  background-repeat: none;
  background-size:cover;
  height: 110vh;
}

#intro1 {
  background-image: url('intro_bg.jpg');
}


#intro2 {
  background-image: url('intro_bg2.jpg');
}

#intro3 {
  background-image: url('intro_bg3.jpg');
}


#intro1_text {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 2em;
  font-weight: 700;
}

.panel {
  border-radius: 1.5em;
  background-color: rgba( 255, 255, 255, 0.8 ) !important;


}
.panel-body {
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  color: #222222 !important;
}

.button {
  position: relative;
  bottom: -78vh;
  margin: 0.2em 0;
  height: 2.5em;
  border-radius: 1.5em;
  border: none;
  box-shadow: 0.1em 0.1em 0.1em 0 lightgray;


  background-color: rgba( 255, 255, 255, 0.8 );
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
} 
  .button strong {
    vertical-align: middle;
    color: #222222 !important;

  }
  .button .material-icons {
    vertical-align: middle;
    color: #222222 !important;
  }
