*, input {
	margin: 0 auto;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}
body {
	background-color: #222222;
}
h1 {
	font-weight: 700;
}




.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.no_padding {
  padding: 0;
}
.white {
  color: #FAFAFA;
}
.grey {
  color: #666666;
}
.blue {
  color: #64B5F6;
}
.red {
  color: #E57373;
}
.font_700 {
  font-weight: 700;
}
.float_right {
  float: right;
}



.float_right {
  position: fixed;
  top: 2em;
  right: 3em;
  z-index: 1;
}

.button {
  margin: 0.2em 0;
  padding-left: 1.5em;
  border-radius: 1.5em;
  border: none;
  box-shadow: 0.1em 0.1em 0.1em 0 lightgray;
  height: 3em;
  line-height: 2em;
  color: #666666;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
} 


#intro1 {
  background-image: url('intro_bg.jpg');
  background-repeat: none;
  background-size:cover;
  height: 100em;
}


#intro2 {
  background-image: url('intro_bg2.jpg');
  background-repeat: none;
  background-size:cover;
  height: 100em;
}

#intro3 {
  background-image: url('intro_bg3.jpg');
  background-repeat: none;
  background-size:cover;
  height: 100em;
}

