* {
	font-family: 'Noto Sans', sans-serif;
}
body { padding-top: 70px; }
a { 
	font-family: 'Noto Sans', sans-serif;
	color: black;
}




.navbar {
  margin-bottom: 0;
}
.panel {
  margin: 0;
}

#panel-body-notice {
  float: left;
}
#panel-body-more {
  float: right;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}